<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Explore and Drink Wine</title>

  <!--CSS stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--our stylesheets-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->

</head>

<body>
    
  <div class="row" style="padding-left: 100px">
    <h1>Explore and Drink Wine</h1>
  </div> 

  <div class="row">
    <div class="col-md-12 introtext" style="padding-left: 100px; padding-right: 200px; padding-bottom: 20px; margin-top: 30px">
        <p><span class="first-letters">Here's some text about this project</p>
        <hr>
    </div>
  </div> 

  <!-- build the dropdown selectors for year, varetal, region, and country, and max price entry -->
    <form>
        <div class="form-group">
            <label for="variety-selector">Choose a year</label>
            <select class="form-control" id="year-selector">
            </select>
          </div>
        <div class="form-group">
          <label for="variety-selector">Choose a varietal</label>
          <select class="form-control" id="variety-selector">
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>


    <!-- section to put in text input and get a predicted score output -->
  <div class='row'>
    <form>
        <div class="form-group">
          <label for="predictiontext">Wine Description</label>
          <input type="text" class="form-control" id="predictiontext" aria-describedby="wineText" placeholder="Enter a wine description">
        </div>
        <button type="submit" class="btn btn-primary" onclick="desc_predictor(predictiontext.value)">Get a wine score!</button>
    </form>
  </div>

  <!-- separator between the user input section and the data viz section -->
  <div class="row">
      <hr>
  </div>

    <!-- Tableau Viz's will go in this div-->
    <div class='tableauPlaceholder' id='viz1533689615153' style='position: relative'><noscript>
        <a href='#'><img alt='Dashboard ' 
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wi&#47;Wine_24&#47;Dashboard&#47;1_rss.png' 
            style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='Wine_24&#47;Dashboard' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wi&#47;Wine_24&#47;Dashboard&#47;1.png' /> 
                <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object>
    </div>     
     
    <!-- Links to our JS files -->
    <script src="{{ url_for('static', filename='js/desc_predictor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/year_dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/varieties_dropdown.js') }}"></script>
    
    <!-- Tableau Script-->
    <script type='text/javascript'> 
        var divElement = document.getElementById('viz1533689615153'); 
        var vizElement = divElement.getElementsByTagName('object')[0]; 
        vizElement.style.width='1000px';
        vizElement.style.height='7027px';                    
        var scriptElement = document.createElement('script');                    
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
        vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
</body>

</html>